@model WebAppStudents.Models.Students
<div>
    <h1>The student @Model.Name has the Id: @Model.Id</h1>
</div>
<div>
    <h2><i>Faculty</i>: @Model.Faculty</h2>
</div>
<div>
    <h4><i>Email</i>: @Model.Email</h4>
</div>
